Test ID4128/Chitalka__ID4124.json
{
  "id": "4124",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-01-30T10:54:04.013Z",
  "startedAt": "2026-01-30T10:54:04.051Z",
  "stoppedAt": "2026-01-30T10:59:24.955Z",
  "deletedAt": null,
  "workflowId": "Yk2Fx2gJxmI4POjt",
  "waitTill": null,
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Webhook": [
          {
            "startTime": 1769770444056,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "connection": "upgrade",
                        "host": "n8n.itcost.ru",
                        "x-forwarded-host": "n8n.itcost.ru",
                        "x-forwarded-proto": "https",
                        "x-forwarded-for": "10.10.200.1",
                        "origin": "https://n8n.itcost.ru",
                        "content-length": "668",
                        "user-agent": "Mozilla/5.0 (compatible; YandexUserproxy; robot; +http://yandex.com/bots)",
                        "accept-encoding": "gzip, x-gzip, deflate",
                        "content-type": "application/json; charset=UTF-8"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "updates": [
                          "[TRUNCATED_DEPTH]"
                        ]
                      },
                      "webhookUrl": "https://n8n.itcost.ru:8444/webhook/chitalka",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Extract message": [
          {
            "startTime": 1769770444056,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook"
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "text": "Empty",
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "login": "kuzin@itcost.ru",
                      "hasFile": true,
                      "hasAudio": false,
                      "files": [
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "size": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Data message": [
          {
            "startTime": 1769770444062,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Extract message"
              }
            ],
            "hints": [],
            "executionTime": 13,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "Empty",
                      "processed": false,
                      "files": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Read messages": [
          {
            "startTime": 1769770444075,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Data message"
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "Empty",
                      "processed": false,
                      "files": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Parse files + classify": [
          {
            "startTime": 1769770444080,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Read messages"
              }
            ],
            "hints": [],
            "executionTime": 5,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "Empty",
                      "processed": false,
                      "files": [
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "size": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "If  files": [
          {
            "startTime": 1769770444085,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Parse files + classify"
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "Empty",
                      "processed": false,
                      "files": [
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "size": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Update row(s)": [
          {
            "startTime": 1769770444086,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "If  files"
              }
            ],
            "hints": [],
            "executionTime": 13,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "Empty",
                      "processed": true,
                      "files": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.090Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Files go OCR": [
          {
            "startTime": 1769770444099,
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "If  files"
              }
            ],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "Empty",
                      "processed": false,
                      "files": [
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "size": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Prepare files for OCR": [
          {
            "startTime": 1769770444099,
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Files go OCR"
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "Empty",
                      "processed": false,
                      "files": [
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "size": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only",
                      "_skipOcr": false,
                      "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                      "file_name": "image.png",
                      "file_kind": "image",
                      "_ocrChosen": {
                        "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                        "name": "image.png",
                        "width": 1258,
                        "height": 588,
                        "originalPreferred": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OCR Request": [
          {
            "startTime": 1769770444105,
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Prepare files for OCR"
              }
            ],
            "hints": [],
            "executionTime": 363,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "",
                      "processed": false,
                      "files": [
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        },
                        {
                          "kind": "[TRUNCATED_DEPTH]",
                          "file_id": "[TRUNCATED_DEPTH]",
                          "name": "[TRUNCATED_DEPTH]",
                          "size": "[TRUNCATED_DEPTH]",
                          "width": "[TRUNCATED_DEPTH]",
                          "height": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only",
                      "_skipOcr": false,
                      "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                      "file_name": "image.png",
                      "file_kind": "image",
                      "_ocrChosen": {
                        "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                        "name": "image.png",
                        "width": 1258,
                        "height": 588,
                        "originalPreferred": true
                      },
                      "ok": false,
                      "ocr_text": "",
                      "ocr_debug": {
                        "url": "http://host.docker.internal:8097/ocr/extract",
                        "lang": "ru",
                        "timeout_ms": 1800000,
                        "error": "status= Request failed with status code 404",
                        "error_data": ""
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge OCR results": [
          {
            "startTime": 1769770444468,
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "OCR Request"
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "",
                      "processed": false,
                      "files": [
                        {
                          "name": "[TRUNCATED_DEPTH]",
                          "ok": "[TRUNCATED_DEPTH]",
                          "text": "[TRUNCATED_DEPTH]",
                          "err": "[TRUNCATED_DEPTH]",
                          "debug": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only",
                      "_skipOcr": false,
                      "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                      "file_name": "image.png",
                      "file_kind": "image",
                      "_ocrChosen": {
                        "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                        "name": "image.png",
                        "width": 1258,
                        "height": 588,
                        "originalPreferred": true
                      },
                      "ok": false,
                      "ocr_text": "Файл \"image.png\":\n[OCR] Empty result (text not recognized).",
                      "ocr_debug": {
                        "url": "http://host.docker.internal:8097/ocr/extract",
                        "lang": "ru",
                        "timeout_ms": 1800000,
                        "error": "status= Request failed with status code 404",
                        "error_data": ""
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OCR Cleanup": [
          {
            "startTime": 1769770444474,
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Merge OCR results"
              }
            ],
            "hints": [],
            "executionTime": 9331,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "",
                      "processed": false,
                      "files": [
                        {
                          "name": "[TRUNCATED_DEPTH]",
                          "ok": "[TRUNCATED_DEPTH]",
                          "text": "[TRUNCATED_DEPTH]",
                          "err": "[TRUNCATED_DEPTH]",
                          "debug": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only",
                      "_skipOcr": false,
                      "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                      "file_name": "image.png",
                      "file_kind": "image",
                      "_ocrChosen": {
                        "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                        "name": "image.png",
                        "width": 1258,
                        "height": 588,
                        "originalPreferred": true
                      },
                      "ok": false,
                      "ocr_text": "Файл \"image.png\":\n[OCR] Empty result (text not recognized).",
                      "ocr_debug": {
                        "url": "http://host.docker.internal:8097/ocr/extract",
                        "lang": "ru",
                        "timeout_ms": 1800000,
                        "error": "status= Request failed with status code 404",
                        "error_data": ""
                      },
                      "norm_text": "Файл \"image.png\":\n[OCR] Пустой результат (текст не распознан).",
                      "norm_model": "qwen2.5:32b-instruct-q8_0"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "VLM OCR Normalize": [
          {
            "startTime": 1769770453805,
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "OCR Cleanup"
              }
            ],
            "hints": [],
            "executionTime": 310796,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                      "timestamp": 1769770444063,
                      "text": "",
                      "processed": false,
                      "files": [
                        {
                          "name": "[TRUNCATED_DEPTH]",
                          "ok": "[TRUNCATED_DEPTH]",
                          "text": "[TRUNCATED_DEPTH]",
                          "err": "[TRUNCATED_DEPTH]",
                          "debug": "[TRUNCATED_DEPTH]"
                        }
                      ],
                      "login": "kuzin@itcost.ru",
                      "id": 1053,
                      "createdAt": "2026-01-30T10:54:04.067Z",
                      "updatedAt": "2026-01-30T10:54:04.067Z",
                      "files_raw": "[{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=small\",\"name\":\"\",\"width\":150,\"height\":70},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle\",\"name\":\"\",\"width\":250,\"height\":116},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5?size=middle-400\",\"name\":\"\",\"width\":400,\"height\":186},{\"kind\":\"image\",\"file_id\":\"disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5\",\"name\":\"image.png\",\"size\":228077,\"width\":1258,\"height\":588}]",
                      "hasFile": true,
                      "hasImage": true,
                      "hasNonImage": false,
                      "hasImageOnly": true,
                      "route": "ocr",
                      "route_reason": "images only",
                      "_skipOcr": false,
                      "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                      "file_name": "image.png",
                      "file_kind": "image",
                      "_ocrChosen": {
                        "file_id": "disk/8b6f4249-b453-3729-4b09-3d4b0dab4ed5",
                        "name": "image.png",
                        "width": 1258,
                        "height": 588,
                        "originalPreferred": true
                      },
                      "ok": false,
                      "ocr_text": "Файл \"image.png\":\n[OCR] Empty result (text not recognized).",
                      "ocr_debug": {
                        "url": "http://host.docker.internal:8097/ocr/extract",
                        "lang": "ru",
                        "timeout_ms": 1800000,
                        "error": "status= Request failed with status code 404",
                        "error_data": ""
                      },
                      "norm_text": "Файл \"image.png\":\n[OCR] Пустой результат (текст не распознан).",
                      "norm_model": "qwen2.5:32b-instruct-q8_0",
                      "vlm_blocks": null,
                      "vlm_text": "{\n  \"type\": \"table\",\n  \"cols\": 11,\n  \"header_rows\": 1,\n  \"rows\": [\n    [\n      {\"text\": \"1\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"2\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"3\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"4\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"5\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"6\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"7\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"8\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"9\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"10\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"11\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"12\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"13\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"14\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"15\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"16\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"17\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"18\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"19\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"20\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"21\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"22\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"23\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"24\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"25\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"26\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"27\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"28\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"29\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"30\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"31\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"32\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"33\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"34\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"35\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"36\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"37\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"38\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"39\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"40\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ],\n    [\n      {\"text\": \"41\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"42\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"43\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"44\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"45\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"46\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"47\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"48\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"49\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"50\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"right\", \"valign\": \"middle\", \"bold\": false},\n      {\"text\": \"\", \"rowspan\": 1, \"colspan\": 1, \"align\": \"left\", \"valign\": \"middle\", \"bold\": false}\n    ]\n  ]",
                      "vlm_debug": {
                        "model": "qwen2.5vl:72b-q8_0",
                        "preferTable": false,
                        "file_name": "image.png"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Chitalka Build Output": [
          {
            "startTime": 1769770764601,
            "executionIndex": 13,
            "source": [
              {
                "previousNode": "VLM OCR Normalize"
              }
            ],
            "hints": [],
            "executionTime": 16,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "login": "kuzin@itcost.ru",
                      "text": "OK"
                    },
                    "binary": {
                      "file": {
                        "data": "PCFET0NUWVBFIGh0bWw+PGh0bWw+PGhlYWQ+PG1ldGEgY2hhcnNldD0iVVRGLTgiPgo8c3R5bGU+CkBwYWdlIHsgc2l6ZTogQTQ7IG1hcmdpbjogMmNtOyB9CmJvZHkgeyBmb250LWZhbWlseTogQ2FsaWJyaSwgQXJpYWwsIHNhbnMtc2VyaWY7IH0KPC9zdHlsZT48L2hlYWQ+PGJvZHk+PGRpdiBzdHlsZT0ibWFyZ2luOjAgMCAxMHB4IDA7IHRleHQtYWxpZ246bGVmdDsgZm9udC1zaXplOjExcHQ7ICI+eyAmcXVvdDt0eXBlJnF1b3Q7OiAmcXVvdDt0YWJsZSZxdW90OywgJnF1b3Q7Y29scyZxdW90OzogMTEsICZxdW90O2hlYWRlcl9yb3dzJnF1b3Q7OiAxLCAmcXVvdDtyb3dzJnF1b3Q7OiBbIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzEmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzImcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzMmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzUmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzYmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzcmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzgmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzkmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzEwJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtsZWZ0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9IF0sIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdLCBbIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsxMSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MTImcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzEzJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsxNCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MTUmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzE2JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsxNyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MTgmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzE5JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyMCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdLCBbIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O2xlZnQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0gXSwgWyB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MjEmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzIyJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyMyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MjQmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzI1JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyNiZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MjcmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzI4JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyOSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzAmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O2xlZnQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0gXSwgWyB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtsZWZ0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9IF0sIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzMxJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDszMiZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzMmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzM0JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDszNSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzYmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzM3JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDszOCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzkmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQwJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtsZWZ0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9IF0sIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdLCBbIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs0MSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7NDImcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQzJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs0NCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7NDUmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQ2JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs0NyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7NDgmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQ5JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs1MCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdIF08L2Rpdj48L2JvZHk+PC9odG1sPg==",
                        "fileName": "document.doc",
                        "mimeType": "application/msword"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "If file": [
          {
            "startTime": 1769770764617,
            "executionIndex": 14,
            "source": [
              {
                "previousNode": "Chitalka Build Output"
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "login": "kuzin@itcost.ru",
                      "text": "OK"
                    },
                    "binary": {
                      "file": {
                        "data": "PCFET0NUWVBFIGh0bWw+PGh0bWw+PGhlYWQ+PG1ldGEgY2hhcnNldD0iVVRGLTgiPgo8c3R5bGU+CkBwYWdlIHsgc2l6ZTogQTQ7IG1hcmdpbjogMmNtOyB9CmJvZHkgeyBmb250LWZhbWlseTogQ2FsaWJyaSwgQXJpYWwsIHNhbnMtc2VyaWY7IH0KPC9zdHlsZT48L2hlYWQ+PGJvZHk+PGRpdiBzdHlsZT0ibWFyZ2luOjAgMCAxMHB4IDA7IHRleHQtYWxpZ246bGVmdDsgZm9udC1zaXplOjExcHQ7ICI+eyAmcXVvdDt0eXBlJnF1b3Q7OiAmcXVvdDt0YWJsZSZxdW90OywgJnF1b3Q7Y29scyZxdW90OzogMTEsICZxdW90O2hlYWRlcl9yb3dzJnF1b3Q7OiAxLCAmcXVvdDtyb3dzJnF1b3Q7OiBbIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzEmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzImcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzMmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzUmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzYmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzcmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzgmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzkmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzEwJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtsZWZ0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9IF0sIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdLCBbIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsxMSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MTImcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzEzJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsxNCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MTUmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzE2JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsxNyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MTgmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzE5JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyMCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdLCBbIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O2xlZnQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0gXSwgWyB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MjEmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzIyJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyMyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MjQmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzI1JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyNiZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MjcmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzI4JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsyOSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzAmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O2xlZnQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0gXSwgWyB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtsZWZ0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9IF0sIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzMxJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDszMiZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzMmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzM0JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDszNSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzYmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzM3JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDszOCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7MzkmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQwJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtsZWZ0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9IF0sIFsgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDsmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdLCBbIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs0MSZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7NDImcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQzJnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs0NCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7NDUmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQ2JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs0NyZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7NDgmcXVvdDssICZxdW90O3Jvd3NwYW4mcXVvdDs6IDEsICZxdW90O2NvbHNwYW4mcXVvdDs6IDEsICZxdW90O2FsaWduJnF1b3Q7OiAmcXVvdDtyaWdodCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSwgeyZxdW90O3RleHQmcXVvdDs6ICZxdW90OzQ5JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7cmlnaHQmcXVvdDssICZxdW90O3ZhbGlnbiZxdW90OzogJnF1b3Q7bWlkZGxlJnF1b3Q7LCAmcXVvdDtib2xkJnF1b3Q7OiBmYWxzZX0sIHsmcXVvdDt0ZXh0JnF1b3Q7OiAmcXVvdDs1MCZxdW90OywgJnF1b3Q7cm93c3BhbiZxdW90OzogMSwgJnF1b3Q7Y29sc3BhbiZxdW90OzogMSwgJnF1b3Q7YWxpZ24mcXVvdDs6ICZxdW90O3JpZ2h0JnF1b3Q7LCAmcXVvdDt2YWxpZ24mcXVvdDs6ICZxdW90O21pZGRsZSZxdW90OywgJnF1b3Q7Ym9sZCZxdW90OzogZmFsc2V9LCB7JnF1b3Q7dGV4dCZxdW90OzogJnF1b3Q7JnF1b3Q7LCAmcXVvdDtyb3dzcGFuJnF1b3Q7OiAxLCAmcXVvdDtjb2xzcGFuJnF1b3Q7OiAxLCAmcXVvdDthbGlnbiZxdW90OzogJnF1b3Q7bGVmdCZxdW90OywgJnF1b3Q7dmFsaWduJnF1b3Q7OiAmcXVvdDttaWRkbGUmcXVvdDssICZxdW90O2JvbGQmcXVvdDs6IGZhbHNlfSBdIF08L2Rpdj48L2JvZHk+PC9odG1sPg==",
                        "fileName": "document.doc",
                        "mimeType": "application/msword"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Send file": [
          {
            "startTime": 1769770764618,
            "executionIndex": 15,
            "source": [
              {
                "previousNode": "If file"
              }
            ],
            "hints": [],
            "executionTime": 337,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "message_id": 1769770764842028,
                      "chat": {
                        "type": "private",
                        "id": "360eed3e-84b1-40cd-8af5-f9042df164ad_9e3b5d04-4f6a-994b-5d1a-bd6e07c7faa9",
                        "username": "kuzin@itcost.ru"
                      },
                      "file_id": "file/c32f003d-9f9d-4e0e-b421-8b8ebe41434e"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Send file"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1769770444055,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "Yk2Fx2gJxmI4POjt",
    "name": "Chitalka",
    "active": true,
    "activeVersionId": "2bc4726b-3943-4e76-93ee-d5ff389b4af4",
    "isArchived": false,
    "createdAt": "2026-01-19T09:27:35.192Z",
    "updatedAt": "2026-01-30T10:05:08.420Z",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "chitalka",
          "authentication": "none",
          "responseMode": "onReceived",
          "contentTypeNotice": "",
          "options": {
            "noResponseBody": true
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -656,
          224
        ],
        "id": "71a91083-2ab1-47c8-86c5-1c0a8eb1d406",
        "name": "Webhook",
        "webhookId": "8391a12d-1196-4427-9fcf-f9f2332a0851"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Extract message — FULL REPLACE v3 (adds audio detection + hasAudio)\n// Input: $json.body.updates[0]\n// Output: { text, chatId, login, hasFile, hasAudio, files[] }\n\nfunction normalizeText(s) {\n  return String(s || '').replace(/\\u00A0/g, ' ').trim();\n}\n\nfunction toArrayMaybe(x) {\n  if (!x) return [];\n  if (Array.isArray(x)) return x;\n  return [x];\n}\n\nfunction uniqPushFile(arr, f) {\n  const kind = String(f.kind || '');\n  const id = String(f.file_id || f.id || '');\n  const key = `${kind}|${id}`;\n  if (!id) return;\n  if (arr._seen && arr._seen.has(key)) return;\n  arr._seen = arr._seen || new Set();\n  arr._seen.add(key);\n  arr.push(f);\n}\n\nfunction guessKindByName(name) {\n  const n = String(name || '').toLowerCase();\n  if (/\\.(png|jpg|jpeg|bmp|gif|tif|tiff|webp)$/i.test(n)) return 'image';\n  if (/\\.(ogg|opus|mp3|wav|m4a|aac|flac)$/i.test(n)) return 'audio';\n  return 'file';\n}\n\nconst update = $json?.body?.updates?.[0];\nif (!update) return [];\n\nconst text = normalizeText(update.text || '') || 'Empty';\n\n// chatId/login\nconst chatId = update?.from?.id ?? update?.chat?.id ?? null;\nconst login = update?.from?.login ?? null;\n\nconst files = [];\n\n// images can come in different shapes: images[0] array, images array, or object\nconst imagesRaw = update.images;\nif (imagesRaw) {\n  // sometimes images is [[...]] or [...]\n  const imgs = Array.isArray(imagesRaw) && Array.isArray(imagesRaw[0]) ? imagesRaw[0] : imagesRaw;\n  for (const src of toArrayMaybe(imgs)) {\n    if (!src) continue;\n    const file_id = src.file_id || src.id;\n    uniqPushFile(files, {\n      kind: 'image',\n      file_id,\n      name: src.name || '',\n      size: src.size,\n      width: src.width,\n      height: src.height,\n    });\n  }\n}\n\n// generic file (docs, logs, voice, etc)\nif (update.file) {\n  const f = update.file;\n  const file_id = f.file_id || f.id;\n  const name = f.name || '';\n  const kind = guessKindByName(name);\n  uniqPushFile(files, {\n    kind,\n    file_id,\n    name,\n    size: f.size,\n  });\n}\n\nconst hasFile = files.length > 0;\nconst hasAudio = files.some(f => String(f.kind).toLowerCase() === 'audio');\n\nreturn [{\n  json: {\n    text,\n    chatId,\n    login,\n    hasFile,\n    hasAudio,\n    files,\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -496,
          224
        ],
        "id": "9cbcd4c5-18aa-484d-98ec-b5037152c892",
        "name": "Extract message"
      },
      {
        "parameters": {
          "resource": "row",
          "operation": "insert",
          "dataTableId": {
            "__rl": true,
            "value": "64Y6oJPQRzpKmBIv",
            "mode": "list",
            "cachedResultName": "Yandex_messages",
            "cachedResultUrl": "/projects/NzQv03hxe8w3kPzF/datatables/64Y6oJPQRzpKmBIv"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "processed": false,
              "chatId": "={{$json.chatId}}",
              "timestamp": "={{Date.now()}}",
              "text": "={{$json.text}}",
              "files": "={{ JSON.stringify($json.files || []) }}",
              "login": "={{$json.login}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chatId",
                "displayName": "chatId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "processed",
                "displayName": "processed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "files",
                "displayName": "files",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "login",
                "displayName": "login",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "optimizeBulk": false
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -320,
          224
        ],
        "id": "3b296752-ca91-4198-a36e-3854d1e4da0f",
        "name": "Data message"
      },
      {
        "parameters": {
          "resource": "row",
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "64Y6oJPQRzpKmBIv",
            "mode": "list",
            "cachedResultName": "Yandex_messages",
            "cachedResultUrl": "/projects/NzQv03hxe8w3kPzF/datatables/64Y6oJPQRzpKmBIv"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "chatId",
                "condition": "eq",
                "keyValue": "={{$json.chatId}}"
              },
              {
                "keyName": "processed",
                "condition": "isFalse"
              }
            ]
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -128,
          224
        ],
        "id": "c499d9d0-78cc-4e8f-b169-3e722769e09f",
        "name": "Read messages"
      },
      {
        "parameters": {
          "resource": "row",
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "64Y6oJPQRzpKmBIv",
            "mode": "list",
            "cachedResultName": "Yandex_messages",
            "cachedResultUrl": "/projects/NzQv03hxe8w3kPzF/datatables/64Y6oJPQRzpKmBIv"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "chatId",
                "condition": "eq",
                "keyValue": "={{$json.chatId}}"
              },
              {
                "keyName": "processed",
                "condition": "isFalse"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "processed": true
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chatId",
                "displayName": "chatId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "processed",
                "displayName": "processed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "files",
                "displayName": "files",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "login",
                "displayName": "login",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          816,
          -32
        ],
        "id": "745d061b-4898-4080-b83c-0ad57c774935",
        "name": "Update row(s)",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Code node \"Stop\"\n// Ничего не делаем и останавливаем цепочку для этих сообщений\nreturn [];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          976,
          704
        ],
        "id": "9364bb9f-37ed-4d55-902b-f8dbcbf14660",
        "name": "Stop"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Prepare files for OCR — FULL REPLACE v3 (force ORIGINAL file_id, no leader logic)\n// Input: $json.files may be array OR JSON-string\n// Output: preserves base, sets file_id/file_name and _ocrChosen debug\n\nfunction parseFiles(v) {\n  if (!v) return [];\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') {\n    try { const a = JSON.parse(v); return Array.isArray(a) ? a : []; } catch { return []; }\n  }\n  return [];\n}\n\nfunction isImage(f) {\n  if (!f || typeof f !== 'object') return false;\n  const kind = String(f.kind || '').toLowerCase();\n  if (kind === 'image') return true;\n  const name = String(f.name || '').toLowerCase();\n  return /\\.(png|jpg|jpeg|bmp|gif|tif|tiff|webp)$/i.test(name);\n}\n\nconst base = $input.item.json || {};\nconst files = parseFiles(base.files).filter(isImage);\n\nif (!files.length) {\n  return [{\n    json: {\n      ...base,\n      _skipOcr: true,\n      file_id: '',\n      file_name: '',\n      _ocrChosen: null,\n    }\n  }];\n}\n\n// Prefer ORIGINAL: file_id without \"?size=\"\nconst originals = files.filter(f => String(f.file_id || f.id || '').includes('?size=') === false);\nlet cand = null;\n\nfunction area(f) {\n  const w = Number(f.width || 0);\n  const h = Number(f.height || 0);\n  return (isFinite(w) ? w : 0) * (isFinite(h) ? h : 0);\n}\n\nconst pool = originals.length ? originals : files;\n\n// Pick max area, fallback last\npool.sort((a,b) => area(b) - area(a));\ncand = pool[0] || pool[pool.length - 1];\n\nconst fid = String(cand.file_id || cand.id || '').trim();\nconst fname = (String(cand.name || '').trim()) || 'image.png';\n\nreturn [{\n  json: {\n    ...base,\n    _skipOcr: false,\n    file_id: fid,\n    file_name: fname,\n    file_kind: 'image',\n    _ocrChosen: {\n      file_id: fid,\n      name: fname,\n      width: cand.width || null,\n      height: cand.height || null,\n      originalPreferred: originals.length > 0,\n    }\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          80
        ],
        "id": "b998aa86-3ec1-4ecc-92f0-7693375748e8",
        "name": "Prepare files for OCR"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Merge OCR results — FULL REPLACE v4 (KEEP BASE FIELDS)\n// Goal: preserve chatId/login/file_id/file_name/etc downstream.\n// Input: items from \"OCR Request\" (each has ...base + ok/text/ocr_text)\n// Output: single item: { ...base, ok, ocr_text, files }\n\nconst inItems = $input.all();\nif (!inItems.length) {\n  return [{ json: { ok: false, ocr_text: '', files: [], note: '[ocr] no results' } }];\n}\n\n// base from first item (contains chatId/login + chosen file_id/file_name, etc.)\nconst base = (inItems[0] && inItems[0].json) ? inItems[0].json : {};\n\nfunction pickText(res) {\n  return String((res && (res.ocr_text ?? res.text ?? '')) || '').trim();\n}\nfunction pickOk(res) {\n  return res && res.ok === true;\n}\nfunction pickErr(res) {\n  return String((res && (res.error_data || res.error || '')) || '').trim();\n}\n\nlet allOk = true;\nconst parts = [];\nconst files = [];\n\nfor (const it of inItems) {\n  const res = it.json || {};\n  const name = String(res.file_name || res.file_id || res.id || '(no-name)').trim() || '(no-name)';\n  const text = pickText(res);\n  const ok = pickOk(res) && text.length > 0;\n  const err = pickErr(res);\n\n  if (!ok) allOk = false;\n\n  files.push({\n    name,\n    ok,\n    text,\n    err,\n    debug: res.ocr_debug || null,\n  });\n\n  if (text) parts.push(`Файл \"${name}\":\\n${text}`);\n  else if (err) parts.push(`Файл \"${name}\":\\n[OCR ERROR]\\n${err}`);\n  else parts.push(`Файл \"${name}\":\\n[OCR] Empty result (text not recognized).`);\n}\n\nreturn [{\n  json: {\n    ...base,\n    ok: allOk,\n    ocr_text: parts.join('\\n\\n'),\n    files,\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          80
        ],
        "id": "27ee3fc2-c066-429b-868f-72214a12ff36",
        "name": "Merge OCR results"
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "POST",
          "url": "https://botapi.messenger.yandex.net/bot/v1/messages/sendText/",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + ($env.YANDEX_BOT_TOKEN_CHITALKA || '') }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "login",
                "value": "={{$json.login}}"
              },
              {
                "name": "text",
                "value": "={{$json.text}}"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3216,
          352
        ],
        "id": "6414b2f7-0da5-40aa-ac29-c21c9591d134",
        "name": "Send Text"
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "POST",
          "url": "https://botapi.messenger.yandex.net/bot/v1/messages/sendFile/",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + ($env.YANDEX_BOT_TOKEN_CHITALKA || '') }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formData",
                "name": "login",
                "value": "={{$json.login}}"
              },
              {
                "parameterType": "formBinaryData",
                "name": "document",
                "inputDataFieldName": "file"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3216,
          128
        ],
        "id": "f2b03a22-cd48-4cf3-a433-0e6ec873d3bf",
        "name": "Send file"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "15527451-ad55-4b9e-a7e4-5db6dfdfe946",
                "leftValue": "={{ !!$binary.file }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2736,
          240
        ],
        "id": "36e357f9-14d1-4973-b57f-ae3c684c2358",
        "name": "If file"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "36faeef7-d542-4c14-bf69-9c8d27e60531",
                "leftValue": "={{ $json.route === 'ocr' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          816,
          208
        ],
        "id": "3037778f-5b1b-420c-8c16-aac334675bfc",
        "name": "Files go OCR"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// OCR Request — FULL REPLACE v8.0 (NO process, host.docker.internal, 30min timeout)\n// Input: base.file_id + base.file_name (from \"Prepare files for OCR\")\n// Output: ...base + ok + ocr_text + ocr_debug\n// Env: YANDEX_BOT_TOKEN_CHITALKA\n\nconst https = require('https');\n\nconst base = $input.item.json || {};\nconst fileId = String(base.file_id || '').trim();\nconst fileName = String(base.file_name || 'image.png').trim() || 'image.png';\n\nconst TIMEOUT_MS = 1800000; // 30 minutes\nconst SIDECAR_URL = 'http://host.docker.internal:8097/ocr/extract';\n\nfunction httpRequestBuffer({ method, hostname, path, headers }, bodyBuf) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({ method, hostname, path, headers }, (res) => {\n      const chunks = [];\n      res.on('data', (d) => chunks.push(Buffer.isBuffer(d) ? d : Buffer.from(d)));\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, headers: res.headers || {}, buf: Buffer.concat(chunks) }));\n    });\n    req.on('error', reject);\n    if (bodyBuf && bodyBuf.length) req.write(bodyBuf);\n    req.end();\n  });\n}\n\nfunction looksLikeJson(headers, buf) {\n  const ct = String((headers && headers['content-type']) || '').toLowerCase();\n  if (ct.includes('application/json')) return true;\n  const b0 = (buf && buf.slice && buf.slice(0,1).toString('utf8')) || '';\n  return b0 === '{' || b0 === '[';\n}\n\nfunction extractYandexJsonError(buf) {\n  try {\n    const obj = JSON.parse(buf.toString('utf8'));\n    if (obj && obj.ok === false) return obj.description || obj.code || 'getFile failed';\n  } catch {}\n  return null;\n}\n\nasync function yandexGetFileBuffer(fid) {\n  const token = String($env.YANDEX_BOT_TOKEN_CHITALKA || '').trim();\n  if (!token) throw new Error('YANDEX_BOT_TOKEN_CHITALKA is not set');\n  if (!fid) throw new Error('file_id is empty');\n\n  const body = Buffer.from(JSON.stringify({ file_id: fid }), 'utf8');\n\n  const r1 = await httpRequestBuffer(\n    {\n      method: 'POST',\n      hostname: 'botapi.messenger.yandex.net',\n      path: '/bot/v1/messages/getFile/',\n      headers: {\n        'Authorization': `OAuth ${token}`,\n        'Content-Type': 'application/json',\n        'Content-Length': String(body.length),\n      },\n    },\n    body\n  );\n\n  if (looksLikeJson(r1.headers, r1.buf)) {\n    const err = extractYandexJsonError(r1.buf);\n    if (err) throw new Error(err);\n  }\n  if (r1.statusCode >= 200 && r1.statusCode < 300) return r1.buf;\n\n  const p = `/bot/v1/messages/getFile/?file_id=${encodeURIComponent(fid)}`;\n  const r2 = await httpRequestBuffer(\n    { method: 'GET', hostname: 'botapi.messenger.yandex.net', path: p, headers: { 'Authorization': `OAuth ${token}` } },\n    null\n  );\n\n  if (looksLikeJson(r2.headers, r2.buf)) {\n    const err = extractYandexJsonError(r2.buf);\n    if (err) throw new Error(err);\n  }\n  if (r2.statusCode >= 200 && r2.statusCode < 300) return r2.buf;\n\n  throw new Error(`getFile failed: POST=${r1.statusCode} | GET=${r2.statusCode}`);\n}\n\nif (!fileId) {\n  return [{ json: { ...base, ok: false, ocr_text: '', text: '', ocr_debug: { note: 'file_id missing' } } }];\n}\n\n// download image bytes\nlet imgBuf;\ntry {\n  imgBuf = await yandexGetFileBuffer(fileId);\n} catch (e) {\n  return [{ json: { ...base, ok: false, ocr_text: '', text: '', ocr_debug: { note: `download failed: ${e.message || e}` } } }];\n}\n\nconst lang = (base.forceOcrEn === true) ? 'en' : 'ru';\nconst image_b64 = imgBuf.toString('base64');\n\n// call sidecar OCR\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: SIDECAR_URL,\n    json: true,\n    timeout: TIMEOUT_MS,\n    body: { image_b64, file_name: fileName, lang, debug: true },\n  });\n\n  const text = String(resp?.text || '').trim();\n\n  // IMPORTANT: не ставим base.error/base.error_data — чтобы VLM продолжил даже если OCR пустой\n  return [{\n    json: {\n      ...base,\n      ok: !!text,\n      ocr_text: text,\n      text,\n      ocr_debug: { url: SIDECAR_URL, lang, timeout_ms: TIMEOUT_MS, tries: resp?.tries || [], image_info: resp?.image_info || null },\n    }\n  }];\n\n} catch (e) {\n  // тоже не “ломаем” пайплайн ошибкой — просто отдаём пустой OCR и debug\n  const status = e?.response?.status ?? e?.statusCode ?? '';\n  let dataStr = '';\n  try { dataStr = e?.response?.data ? JSON.stringify(e.response.data) : ''; } catch { dataStr = String(e?.response?.data || ''); }\n\n  return [{\n    json: {\n      ...base,\n      ok: false,\n      ocr_text: '',\n      text: '',\n      ocr_debug: { url: SIDECAR_URL, lang, timeout_ms: TIMEOUT_MS, error: `status=${status} ${e?.message || e}`, error_data: dataStr.slice(0, 2000) }\n    }\n  }];\n}\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1280,
          80
        ],
        "id": "5c4e0b38-7258-4ba5-a169-486982852f1e",
        "name": "OCR Request"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Chitalka Extract PDF/TXT — FULL REPLACE v7.3 (token-based, dpi=200 quality=60 defaults, never-throw)\n// Sidecar: http://host.docker.internal:8097/pdf/textlayer + /pdf/pages_meta\n// Timeout: 30 minutes\n// Env: YANDEX_BOT_TOKEN_CHITALKA\n// Optional env overrides: CHITALKA_PDF_DPI (default 200), CHITALKA_PDF_QUALITY (default 60)\n\nconst https = require('https');\n\nconst base = $input.item.json || {};\nconst TIMEOUT_MS = 1800000;\nconst SIDECAR = 'http://host.docker.internal:8097';\n\nfunction s(x){ return x == null ? '' : String(x); }\n\nfunction clampInt(v, lo, hi, def) {\n  let n = Number(v);\n  if (!Number.isFinite(n)) n = def;\n  n = Math.trunc(n);\n  if (n < lo) n = lo;\n  if (n > hi) n = hi;\n  return n;\n}\n\nconst DPI = clampInt($env.CHITALKA_PDF_DPI, 72, 350, 200);\nconst QUALITY = clampInt($env.CHITALKA_PDF_QUALITY, 30, 95, 60);\n\nfunction parseFiles(v) {\n  if (!v) return [];\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') { try { const a = JSON.parse(v); return Array.isArray(a) ? a : []; } catch { return []; } }\n  return [];\n}\nfunction isImageFile(f) {\n  const kind = String((f && f.kind) || '').toLowerCase();\n  if (kind === 'image') return true;\n  const name = String((f && f.name) || '').toLowerCase();\n  return /\\.(png|jpg|jpeg|bmp|gif|tif|tiff|webp)$/i.test(name);\n}\nfunction isAudioFile(f) {\n  const kind = String((f && f.kind) || '').toLowerCase();\n  if (kind === 'audio') return true;\n  const name = String((f && f.name) || '').toLowerCase();\n  return /\\.(ogg|opus|mp3|wav|m4a|aac|flac)$/i.test(name);\n}\nfunction pickPdf(filesArr) {\n  const non = filesArr.filter(f => f && !isImageFile(f) && !isAudioFile(f));\n  if (!non.length) return null;\n  const pdf = non.filter(f => /\\.pdf$/i.test(String(f.name || '')));\n  return pdf.length ? pdf[pdf.length - 1] : non[non.length - 1];\n}\n\nfunction httpRequestBuffer({ method, hostname, path, headers }, bodyBuf) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({ method, hostname, path, headers: headers || {} }, (res) => {\n      const chunks = [];\n      res.on('data', (d) => chunks.push(Buffer.isBuffer(d) ? d : Buffer.from(d)));\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, headers: res.headers || {}, buf: Buffer.concat(chunks) }));\n    });\n    req.on('error', reject);\n    if (bodyBuf && bodyBuf.length) req.write(bodyBuf);\n    req.end();\n  });\n}\nfunction looksLikeJson(headers, buf) {\n  const ct = String((headers && headers['content-type']) || '').toLowerCase();\n  if (ct.includes('application/json')) return true;\n  const b0 = (buf && buf.slice && buf.slice(0,1).toString('utf8')) || '';\n  return b0 === '{' || b0 === '[';\n}\nfunction extractYandexJsonError(buf) {\n  try {\n    const obj = JSON.parse(buf.toString('utf8'));\n    if (obj && obj.ok === false) return obj.description || obj.code || 'getFile failed';\n  } catch {}\n  return null;\n}\n\nasync function yandexGetFileBuffer(fid) {\n  const token = String($env.YANDEX_BOT_TOKEN_CHITALKA || '').trim();\n  if (!token) throw new Error('YANDEX_BOT_TOKEN_CHITALKA is not set');\n  if (!fid) throw new Error('file_id is empty');\n\n  const body = Buffer.from(JSON.stringify({ file_id: fid }), 'utf8');\n\n  const r1 = await httpRequestBuffer(\n    {\n      method: 'POST',\n      hostname: 'botapi.messenger.yandex.net',\n      path: '/bot/v1/messages/getFile/',\n      headers: {\n        'Authorization': `OAuth ${token}`,\n        'Content-Type': 'application/json',\n        'Content-Length': String(body.length),\n      },\n    },\n    body\n  );\n\n  if (looksLikeJson(r1.headers, r1.buf)) {\n    const err = extractYandexJsonError(r1.buf);\n    if (err) throw new Error(err);\n  }\n  if (r1.statusCode >= 200 && r1.statusCode < 300) return r1.buf;\n\n  const p = `/bot/v1/messages/getFile/?file_id=${encodeURIComponent(fid)}`;\n  const r2 = await httpRequestBuffer(\n    { method: 'GET', hostname: 'botapi.messenger.yandex.net', path: p, headers: { 'Authorization': `OAuth ${token}` } },\n    null\n  );\n\n  if (looksLikeJson(r2.headers, r2.buf)) {\n    const err = extractYandexJsonError(r2.buf);\n    if (err) throw new Error(err);\n  }\n  if (r2.statusCode >= 200 && r2.statusCode < 300) return r2.buf;\n\n  throw new Error(`getFile failed: POST=${r1.statusCode} | GET=${r2.statusCode}`);\n}\n\nfunction statusFromErr(e) {\n  const st = e?.response?.status ?? e?.statusCode ?? null;\n  if (st != null) return String(st);\n  const m = String(e?.message || '').match(/status code\\s*(\\d+)/i);\n  return m ? m[1] : '';\n}\nfunction errDataToString(e) {\n  try {\n    const d = e?.response?.data;\n    if (d == null) return '';\n    if (Buffer.isBuffer(d)) return d.toString('utf8').slice(0, 3000);\n    if (typeof d === 'string') return d.slice(0, 3000);\n    return JSON.stringify(d).slice(0, 3000);\n  } catch { return ''; }\n}\n\n// never throw; returns {ok:boolean, data:any, err?:string}\nasync function safeHttp(req) {\n  try {\n    const data = await this.helpers.httpRequest(req);\n    return { ok: true, data };\n  } catch (e) {\n    const st = statusFromErr(e);\n    const body = errDataToString(e) || '(no response body)';\n    return { ok: false, err: `http failed status=${st} ${String(e?.message || e)}`, data: body };\n  }\n}\n\n// ---- MAIN ----\nconst files = parseFiles(base.files);\nconst pdf = pickPdf(files);\nif (!pdf) return [{ json: { ...base, _chitalka_no_doc: true, error: 'PDF не найден во вложениях.' } }];\n\nconst fid = s(pdf.file_id || pdf.id).trim();\nconst fname = s(pdf.name || 'document.pdf').trim() || 'document.pdf';\n\nlet pdfBuf;\ntry { pdfBuf = await yandexGetFileBuffer(fid); }\ncatch (e) { return [{ json: { ...base, _chitalka_no_doc: true, error: `Не смог скачать PDF: ${e.message || e}` } }]; }\n\nconst pdf_b64 = pdfBuf.toString('base64');\n\n// 1) textlayer\nconst tlRes = await safeHttp.call(this, {\n  method: 'POST',\n  url: `${SIDECAR}/pdf/textlayer`,\n  json: true,\n  timeout: TIMEOUT_MS,\n  body: { pdf_b64, dpi: DPI }\n});\n\nif (!tlRes.ok) {\n  return [{\n    json: {\n      ...base,\n      _chitalka_no_doc: true,\n      error: 'PDF textlayer check failed',\n      error_data: JSON.stringify(tlRes, null, 2).slice(0, 3000)\n    }\n  }];\n}\n\nconst tl = tlRes.data || {};\nconst score = Number(tl.score || 0);\nconst tlText = String(tl.text || '').trim();\n\nif (score >= 300 && tlText) {\n  return [{\n    json: {\n      ...base,\n      source_file_name: fname,\n      pdf_mode: 'textlayer',\n      ocr_text: tlText,\n      pdf_text_score: score,\n      pdf_dpi: DPI\n    }\n  }];\n}\n\n// 2) pages_meta\nconst metaRes = await safeHttp.call(this, {\n  method: 'POST',\n  url: `${SIDECAR}/pdf/pages_meta`,\n  json: true,\n  timeout: TIMEOUT_MS,\n  body: { pdf_b64, dpi: DPI, fmt: 'jpg', quality: QUALITY }\n});\n\nif (!metaRes.ok) {\n  return [{\n    json: {\n      ...base,\n      _chitalka_no_doc: true,\n      error: 'PDF pages_meta failed',\n      error_data: JSON.stringify(metaRes, null, 2).slice(0, 3000)\n    }\n  }];\n}\n\nconst meta = metaRes.data || {};\nif (!meta.ok) {\n  return [{\n    json: {\n      ...base,\n      _chitalka_no_doc: true,\n      error: 'PDF render failed',\n      error_data: JSON.stringify(meta).slice(0, 3000)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...base,\n    source_file_name: fname,\n    pdf_mode: 'scanned',\n    pdf_token: String(meta.token || ''),\n    pdf_page_count: Number(meta.page_count || 0),\n    pdf_dpi: Number(meta.dpi || DPI),\n    pdf_fmt: String(meta.fmt || 'jpg'),\n    pdf_quality: Number(meta.quality || QUALITY),\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1184,
          384
        ],
        "id": "6082f7bc-bf75-46fe-8837-c71046123b4d",
        "name": "Chitalka Extract PDF/TXT"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Chitalka Build Output — FULL REPLACE v3.0\n// Fixes: renders vlm_blocks even if they arrived as JSON-string; if vlm_blocks missing but vlm_text is JSON -> parses it.\n// Normalizes tables: trims empty/all-null columns, fixes cols, header_rows, centers numeric grids.\n// Adds colgroup (equal widths) for stable table layout in Word HTML.\n// Supports: header_line, paragraph, table, page_break.\n// Underline: __...__ -> <u>...</u>.\n\nfunction s(x){ return x == null ? '' : String(x); }\n\nfunction toSafeBaseName(s0, fallback) {\n  const raw = (s0 || '').toString().trim();\n  const base = raw.slice(0, 80) || fallback;\n  return (base\n    .replace(/[\\\\/:*?\"<>|]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 80)) || fallback;\n}\n\nfunction escapeHtml(text){\n  return String(text||'')\n    .replace(/&/g,'&amp;')\n    .replace(/</g,'&lt;')\n    .replace(/>/g,'&gt;')\n    .replace(/\"/g,'&quot;');\n}\n\nfunction escapeHtmlWithUnderlineMarkup(text) {\n  const src = String(text || '');\n  const parts = src.split(/(__)/);\n  let under = false;\n  let out = '';\n  for (const p of parts) {\n    if (p === '__') { under = !under; out += under ? '<u>' : '</u>'; continue; }\n    out += escapeHtml(p);\n  }\n  if (under) out += '</u>';\n  out = out.replace(/\\n/g, '<br/>');\n  return out;\n}\n\nfunction stripPageMarkers(text) {\n  return String(text || '').replace(/^\\s*---\\s*PAGE\\s+\\d+\\s*---\\s*$/gmi, '').trim();\n}\n\nfunction formatErr(base){\n  const parts = [];\n  parts.push('Chitalka: не удалось обработать документ.');\n  if (base.error) parts.push(`Error: ${s(base.error).slice(0, 900)}`);\n  if (base.error_data) parts.push(`Details: ${s(base.error_data).slice(0, 1400)}`);\n  if (base._pdf_debug) parts.push(`PDF debug: ${JSON.stringify(base._pdf_debug).slice(0, 1400)}`);\n  if (base.ocr_debug) parts.push(`OCR debug: ${JSON.stringify(base.ocr_debug).slice(0, 1400)}`);\n  if (base.vlm_debug) parts.push(`VLM debug: ${JSON.stringify(base.vlm_debug).slice(0, 1400)}`);\n  return parts.join('\\n');\n}\n\nfunction cssForStyle(style) {\n  const st = String(style || 'body').toLowerCase();\n  if (st === 'title') return 'font-size:20pt; font-weight:bold;';\n  if (st === 'header') return 'font-size:14pt; font-weight:bold;';\n  if (st === 'small') return 'font-size:9pt;';\n  return 'font-size:11pt;';\n}\n\nfunction isJsonLike(x) {\n  const t = String(x || '').trim();\n  if (!t) return false;\n  const y = t.replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n  return (y.startsWith('{') || y.startsWith('[')) && y.includes('\"type\"') && (y.includes('\"rows\"') || y.includes('\"blocks\"'));\n}\n\nfunction parseMaybeJson(x) {\n  try {\n    const t = String(x || '').trim()\n      .replace(/^```(?:json)?\\s*/i, '')\n      .replace(/```$/i, '')\n      .trim();\n    if (!t) return null;\n    return JSON.parse(t);\n  } catch {\n    return null;\n  }\n}\n\nfunction isCellObj(c) {\n  return c && typeof c === 'object' && !Array.isArray(c) && ('text' in c || 'rowspan' in c || 'colspan' in c);\n}\n\nfunction emptyCell(center=false) {\n  return {\n    text: '',\n    rowspan: 1,\n    colspan: 1,\n    align: center ? 'center' : 'left',\n    valign: 'middle',\n    bold: false,\n    italic: false,\n  };\n}\n\nfunction isMostlyNumericGrid(rows) {\n  let total = 0, num = 0;\n  for (const r of rows) {\n    if (!Array.isArray(r)) continue;\n    for (const c of r) {\n      if (c === null) continue;\n      if (!isCellObj(c)) continue;\n      const tx = String(c.text || '').trim();\n      if (!tx) { total++; continue; }\n      total++;\n      if (/^\\d{1,4}$/.test(tx)) num++;\n    }\n  }\n  if (total < 20) return false;\n  return (num / total) >= 0.75;\n}\n\nfunction trimAllNullColumns(rows) {\n  if (!rows.length) return rows;\n\n  let maxLen = 0;\n  for (const r of rows) maxLen = Math.max(maxLen, Array.isArray(r) ? r.length : 0);\n\n  const padded = rows.map(r => {\n    const rr = Array.isArray(r) ? r.slice() : [];\n    while (rr.length < maxLen) rr.push(null);\n    return rr;\n  });\n\n  let right = maxLen - 1;\n  while (right >= 0) {\n    let allNull = true;\n    for (const r of padded) {\n      if (r[right] !== null) { allNull = false; break; }\n    }\n    if (!allNull) break;\n    right--;\n  }\n\n  let left = 0;\n  while (left <= right) {\n    let allNull = true;\n    for (const r of padded) {\n      if (r[left] !== null) { allNull = false; break; }\n    }\n    if (!allNull) break;\n    left++;\n  }\n\n  const out = padded.map(r => r.slice(left, right + 1));\n  return out;\n}\n\nfunction normalizeTable(t) {\n  const rows0 = Array.isArray(t?.rows) ? t.rows : [];\n  if (!rows0.length) return t;\n\n  let rows = trimAllNullColumns(rows0);\n\n  let cols = 0;\n  for (const r of rows) cols = Math.max(cols, Array.isArray(r) ? r.length : 0);\n\n  const numericGrid = isMostlyNumericGrid(rows);\n  rows = rows.map(r => {\n    const rr = Array.isArray(r) ? r.slice() : [];\n    while (rr.length < cols) rr.push(emptyCell(numericGrid));\n    for (let i = 0; i < rr.length; i++) {\n      const c = rr[i];\n      if (c === null) continue;\n      if (!isCellObj(c)) rr[i] = emptyCell(numericGrid);\n      rr[i].rowspan = Number(rr[i].rowspan || 1) || 1;\n      rr[i].colspan = Number(rr[i].colspan || 1) || 1;\n      rr[i].valign = String(rr[i].valign || 'middle');\n      rr[i].bold = rr[i].bold === true;\n      rr[i].italic = rr[i].italic === true;\n      if (numericGrid) rr[i].align = 'center';\n      else rr[i].align = String(rr[i].align || 'left');\n    }\n    return rr;\n  });\n\n  let headerRows = Number(t?.header_rows || 0) || 0;\n  if (numericGrid) headerRows = 0;\n\n  return {\n    ...t,\n    type: 'table',\n    cols,\n    header_rows: headerRows,\n    rows,\n  };\n}\n\nfunction normalizeBlocks(root) {\n  if (!root || typeof root !== 'object') return root;\n\n  if (root.type === 'table') {\n    return normalizeTable(root);\n  }\n\n  if (root.type === 'blocks' && Array.isArray(root.blocks)) {\n    const blocks = root.blocks.map(b => {\n      if (!b || typeof b !== 'object') return b;\n      if (b.type === 'table') return normalizeTable(b);\n      return b;\n    });\n    return { ...root, blocks };\n  }\n\n  return root;\n}\n\nfunction renderHeaderLine(left, right, style) {\n  const L = escapeHtmlWithUnderlineMarkup(stripPageMarkers(left || ''));\n  const R = escapeHtmlWithUnderlineMarkup(stripPageMarkers(right || ''));\n  const css = cssForStyle(style || 'header');\n  return `\n<table style=\"width:100%; border-collapse:collapse; margin:0 0 6px 0; ${css}\">\n  <tr>\n    <td style=\"width:70%; vertical-align:top; padding:0;\">${L}</td>\n    <td style=\"width:30%; vertical-align:top; padding:0; text-align:right;\">${R}</td>\n  </tr>\n</table>`;\n}\n\nfunction renderTable(tableObj) {\n  const rows = Array.isArray(tableObj?.rows) ? tableObj.rows : [];\n  const headerRows = Number(tableObj?.header_rows || 0) || 0;\n  const cols = Number(tableObj?.cols || 0) || (rows[0]?.length || 0);\n  if (!rows.length || !cols) return '';\n\n  const tableCss = `border-collapse:collapse; width:100%; table-layout:fixed; ${cssForStyle(tableObj?.style || 'body')}`;\n  const cellBase = `border:1px solid #000; padding:6px; vertical-align:middle;`;\n\n  let colgroup = '<colgroup>';\n  const w = (100 / cols).toFixed(4);\n  for (let i = 0; i < cols; i++) colgroup += `<col style=\"width:${w}%;\">`;\n  colgroup += '</colgroup>';\n\n  let html = `<table style=\"${tableCss}\">${colgroup}`;\n  for (let r = 0; r < rows.length; r++) {\n    const row = Array.isArray(rows[r]) ? rows[r] : [];\n    html += '<tr>';\n    for (let c = 0; c < row.length; c++) {\n      const cell = row[c];\n      if (cell === null) continue;\n\n      const text = s(cell?.text || '');\n      const rs = Number(cell?.rowspan || 1) || 1;\n      const cs = Number(cell?.colspan || 1) || 1;\n      const align = s(cell?.align || 'left').toLowerCase();\n      const valign = s(cell?.valign || 'middle').toLowerCase();\n      const bold = cell?.bold === true;\n      const italic = cell?.italic === true;\n      const styleCss = cssForStyle(cell?.style || tableObj?.style || 'body');\n\n      const tag = (r < headerRows) ? 'th' : 'td';\n      const style =\n        `${cellBase}` +\n        `${styleCss}` +\n        `text-align:${(align==='center'||align==='right')?align:'left'};` +\n        `vertical-align:${(valign==='top'||valign==='bottom')?valign:'middle'};` +\n        (bold ? 'font-weight:bold;' : '') +\n        (italic ? 'font-style:italic;' : '');\n\n      const inner = text ? escapeHtmlWithUnderlineMarkup(text) : '&nbsp;';\n      const attrs =\n        (rs > 1 ? ` rowspan=\"${rs}\"` : '') +\n        (cs > 1 ? ` colspan=\"${cs}\"` : '') +\n        ` style=\"${style}\"`;\n\n      html += `<${tag}${attrs}>${inner}</${tag}>`;\n    }\n    html += '</tr>';\n  }\n  html += '</table>';\n  return html;\n}\n\nfunction renderParagraph(p) {\n  const t = stripPageMarkers(p?.text || '');\n  if (!String(t).trim()) return '';\n  const align = s(p?.align || 'left').toLowerCase();\n  const css = cssForStyle(p?.style || 'body');\n  const bold = p?.bold === true;\n  const italic = p?.italic === true;\n  const alignCss = (align === 'center' || align === 'right' || align === 'justify') ? align : 'left';\n  const extra = (bold ? 'font-weight:bold;' : '') + (italic ? 'font-style:italic;' : '');\n  return `<div style=\"margin:0 0 10px 0; text-align:${alignCss}; ${css} ${extra}\">${escapeHtmlWithUnderlineMarkup(t)}</div>`;\n}\n\nfunction renderBlocks(blocksRoot) {\n  if (!blocksRoot) return '';\n  const blocks = [];\n  if (blocksRoot.type === 'table') blocks.push(blocksRoot);\n  else if (blocksRoot.type === 'blocks' && Array.isArray(blocksRoot.blocks)) blocks.push(...blocksRoot.blocks);\n  else return '';\n\n  let html = '';\n  for (const b of blocks) {\n    if (!b) continue;\n\n    if (b.type === 'page_break') {\n      html += `<div style=\"page-break-after:always;\"></div>`;\n      continue;\n    }\n    if (b.type === 'header_line') {\n      html += renderHeaderLine(b.left || '', b.right || '', b.style || 'header');\n      continue;\n    }\n    if (b.type === 'paragraph') {\n      html += renderParagraph(b);\n      continue;\n    }\n    if (b.type === 'table') {\n      html += `<div style=\"margin:10px 0;\">${renderTable(b)}</div>`;\n      continue;\n    }\n  }\n  return html;\n}\n\nfunction splitTabsPreserve(line) {\n  return String(line || '').split(/\\t/);\n}\n\nfunction alignForText(txt) {\n  const t = String(txt || '').trim();\n  if (!t) return 'left';\n  if (/^[\\d\\s.,]+$/.test(t)) return 'right';\n  return 'left';\n}\n\nfunction collapseParagraphLines(lines) {\n  const out = [];\n  let current = '';\n  for (const line of lines) {\n    const trimmed = String(line || '').trim();\n    if (!trimmed) continue;\n    if (!current) {\n      current = trimmed;\n      continue;\n    }\n    if (/[A-Za-zА-Яа-яЁё]-$/.test(current) && /^[A-Za-zА-Яа-яЁё]/.test(trimmed)) {\n      current = current.replace(/-$/, '') + trimmed;\n      continue;\n    }\n    current += ' ' + trimmed;\n  }\n  if (current) out.push(current);\n  return out.join(' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction plainTextToBlocks(text) {\n  const src = stripPageMarkers(String(text || '')).replace(/\\r\\n/g, '\\n');\n  if (!src.trim()) return [];\n  const lines = src.split('\\n');\n  const blocks = [];\n  let paraLines = [];\n  let tableLines = [];\n  const bulletRe = /^\\s*([•●◦\\-–—]|\\d+[.)])\\s+/;\n\n  function flushParagraph() {\n    if (!paraLines.length) return;\n    const txt = collapseParagraphLines(paraLines);\n    if (txt) blocks.push({ type: 'paragraph', text: txt, align: 'left' });\n    paraLines = [];\n  }\n\n  function flushTable() {\n    if (!tableLines.length) return;\n    const rows = tableLines.map(line => {\n      const cells = splitTabsPreserve(line).map(cell => ({\n        text: String(cell || '').trim(),\n        rowspan: 1,\n        colspan: 1,\n        align: alignForText(cell),\n        valign: 'middle',\n        bold: false,\n        italic: false,\n      }));\n      return cells;\n    });\n    const cols = rows.reduce((m, r) => Math.max(m, r.length), 0);\n    for (const r of rows) {\n      while (r.length < cols) r.push(emptyCell());\n    }\n    const table = normalizeTable({ type: 'table', cols, header_rows: 0, rows });\n    blocks.push(table);\n    tableLines = [];\n  }\n\n  for (const line of lines) {\n    const trimmed = String(line || '').trim();\n    if (!trimmed) {\n      flushParagraph();\n      flushTable();\n      continue;\n    }\n    if (trimmed.includes('\\t')) {\n      flushParagraph();\n      tableLines.push(line);\n      continue;\n    }\n    if (tableLines.length) {\n      flushTable();\n    }\n    if (bulletRe.test(trimmed)) {\n      flushParagraph();\n      blocks.push({ type: 'paragraph', text: trimmed, align: 'left' });\n      continue;\n    }\n    paraLines.push(trimmed);\n  }\n\n  flushParagraph();\n  flushTable();\n  return blocks;\n}\n\n// ---- MAIN ----\nconst base = $input.item.json || {};\nconst login = s(base.login).trim();\nif (!login) return [{ json: { _stop: true } }];\n\nconst srcName = s(base.source_file_name || 'document').trim();\nconst baseName = toSafeBaseName(srcName.replace(/\\.[^.]+$/,''), 'document');\n\nlet blocks = base.vlm_blocks ?? null;\nif (typeof blocks === 'string' && isJsonLike(blocks)) blocks = parseMaybeJson(blocks);\nif (!blocks && isJsonLike(base.vlm_text)) blocks = parseMaybeJson(base.vlm_text);\nblocks = normalizeBlocks(blocks);\n\nconst plain = stripPageMarkers(s(base.vlm_text || '')).trim() || stripPageMarkers(s(base.ocr_text || '')).trim();\n\nif (!blocks && !plain) {\n  return [{ json: { login, text: formatErr(base), _sendAsText: true } }];\n}\n\nlet bodyHtml = '';\nif (blocks) bodyHtml = renderBlocks(blocks);\nif (!bodyHtml) {\n  const plainBlocks = plainTextToBlocks(plain);\n  if (plainBlocks.length) {\n    bodyHtml = renderBlocks({ type: 'blocks', blocks: plainBlocks });\n  } else {\n    bodyHtml = `<div style=\"white-space:pre-wrap;\">${escapeHtmlWithUnderlineMarkup(plain)}</div>`;\n  }\n}\n\nconst headCss = `\n<style>\n@page { size: A4; margin: 2cm; }\nbody { font-family: Calibri, Arial, sans-serif; }\n</style>`;\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\">${headCss}</head><body>${bodyHtml}</body></html>`;\nconst buff = Buffer.from(html, 'utf8');\n\nreturn [{\n  json: { login, text: 'OK' },\n  binary: {\n    file: {\n      data: buff.toString('base64'),\n      fileName: `${baseName}.doc`,\n      mimeType: 'application/msword'\n    }\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2416,
          240
        ],
        "id": "811be512-3165-4a53-8047-5bd53c5a5cbb",
        "name": "Chitalka Build Output"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Parse files + classify — FULL REPLACE v2 (adds route) 111\n// Output fields:\n// - files: array\n// - hasFile/hasImage/hasNonImage/hasImageOnly\n// - route: \"ocr\" | \"nonimage\" | \"none\"\n// - route_reason: string\n\nfunction parseFiles(v) {\n  if (!v) return [];\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') {\n    try {\n      const a = JSON.parse(v);\n      return Array.isArray(a) ? a : [];\n    } catch {\n      return [];\n    }\n  }\n  return [];\n}\n\nfunction isImage(f) {\n  if (!f || typeof f !== 'object') return false;\n  const kind = String(f.kind || '').toLowerCase();\n  if (kind === 'image') return true;\n  const name = String(f.name || '').toLowerCase();\n  return /\\.(png|jpg|jpeg|bmp|gif|tif|tiff|webp)$/i.test(name);\n}\n\nfunction isAudio(f) {\n  if (!f || typeof f !== 'object') return false;\n  const kind = String(f.kind || '').toLowerCase();\n  if (kind === 'audio') return true;\n  const name = String(f.name || '').toLowerCase();\n  return /\\.(ogg|opus|mp3|wav|m4a|aac|flac)$/i.test(name);\n}\n\nconst items = $input.all();\n\nfor (const it of items) {\n  const row = it.json || {};\n\n  const raw = row.files;\n  const arr = parseFiles(raw);\n\n  row.files_raw = (typeof raw === 'string') ? raw : null;\n  row.files = arr;\n\n  row.hasFile = arr.length > 0;\n  row.hasImage = arr.some(isImage);\n  row.hasNonImage = arr.some(f => !isImage(f) && !isAudio(f));\n  row.hasImageOnly = row.hasImage === true && row.hasNonImage === false;\n\n  // route decision\n  if (!row.hasFile) {\n    row.route = 'none';\n    row.route_reason = 'no attachments';\n  } else if (row.hasImageOnly) {\n    row.route = 'ocr';\n    row.route_reason = 'images only';\n  } else {\n    // any non-image OR mixed -> go nonimage (PDF/TXT branch)\n    row.route = 'nonimage';\n    row.route_reason = row.hasNonImage ? 'non-image attachment present' : 'mixed attachments';\n  }\n\n  it.json = row;\n}\n\nreturn items;\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          80,
          224
        ],
        "id": "20d79bfd-ef25-4ddb-9d64-c6fc58d81aae",
        "name": "Parse files + classify"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "9762fa70-8640-4f1b-9966-3e747cacf98f",
                "leftValue": "={{ $json.hasFile === true }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          416,
          224
        ],
        "id": "056dcef5-eb0d-443b-9f26-0aa01ef41301",
        "name": "If  files"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// OCR Cleanup (Text LLM) — FULL REPLACE v1\n// Input: base.ocr_text (from Merge OCR results)\n// Output: base.norm_text (cleaned), preserves chatId/login\n\nconst base = $input.item.json || {};\nfunction s(x){ return x == null ? '' : String(x); }\n\nconst OLLAMA_URL = (String($env.OLLAMA_URL || 'http://host.docker.internal:11434')).replace(/\\/$/, '');\nconst MODEL = String($env.CHITALKA_TEXT_MODEL || 'qwen2.5:32b-instruct-q8_0').trim() || 'qwen2.5vl:72b-q8_0';\n\nconst ocr = s(base.ocr_text).trim();\nif (!ocr) return [{ json: { ...base, norm_text: '' } }];\n\nconst prompt =\n`Ты — модуль очистки OCR (НЕ чатбот).\nЗадача: исправить ОЧЕВИДНЫЕ OCR-артефакты, не меняя смысл.\n\nПравила:\n- Убрать дубли слогов/букв из OCR (например: \"Словарарный\" -> \"Словарный\", \"Сино́нимимы\" -> \"Сино́нимы\").\n- Исправлять только явные орфографические ошибки (по-русски).\n- Сохранить пунктуацию, запятые, переносы строк.\n- Сохранить ударения (символ U+0301) там, где они уже есть в тексте.\n- Ничего не добавлять от себя.\n- ВЫВЕСТИ ТОЛЬКО ИСПРАВЛЕННЫЙ ТЕКСТ (без пояснений, без JSON).\n\nOCR_TEXT:\n${ocr.slice(0, 20000)}\n`;\n\nlet resp;\ntry {\n  resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${OLLAMA_URL}/api/chat`,\n    json: true,\n    timeout: 3600000,\n    body: {\n      model: MODEL,\n      stream: false,\n      options: { temperature: 0, top_p: 1, top_k: 1 },\n      messages: [{ role: 'user', content: prompt }],\n    }\n  });\n} catch (e) {\n  const status = e?.response?.status || e?.statusCode || '';\n  return [{ json: { ...base, norm_text: ocr, _norm_error: `LLM fail status=${status} ${e?.message || e}` } }];\n}\n\nlet out = String(resp?.message?.content || '').trim();\nout = out.replace(/^```[\\w-]*\\s*/i,'').replace(/```$/,'').trim();\n\nreturn [{\n  json: {\n    ...base,\n    norm_text: out || ocr,\n    norm_model: MODEL,\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1648,
          80
        ],
        "id": "94dc1180-7ada-4c25-8d8e-4bec10ffdb83",
        "name": "OCR Cleanup"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// VLM OCR Normalize — FULL REPLACE v4.0 (structure-preserving JSON blocks)\n// Input: file_id, file_name, ocr_text (optional), login (pass-through)\n// Output: vlm_blocks (JSON blocks), vlm_text (fallback), vlm_debug\n// Timeouts: 150 minutes everywhere.\n\nconst https = require('https');\n\nconst TIMEOUT_MS = 9000000; // 30 min\nconst OLLAMA_URL = String($env.OLLAMA_URL || 'http://host.docker.internal:11434').replace(/\\/$/, '');\nconst VLM_MODEL = 'qwen2.5vl:72b-q8_0';\n\nconst base = $input.item.json || {};\n\nfunction s(x){ return x == null ? '' : String(x); }\n\nfunction httpRequestBuffer({ method, hostname, path, headers }, bodyBuf) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({ method, hostname, path, headers: headers || {} }, (res) => {\n      const chunks = [];\n      res.on('data', (d) => chunks.push(Buffer.isBuffer(d) ? d : Buffer.from(d)));\n      res.on('end', () => resolve({ statusCode: res.statusCode || 0, headers: res.headers || {}, buf: Buffer.concat(chunks) }));\n    });\n    req.on('error', reject);\n    if (bodyBuf && bodyBuf.length) req.write(bodyBuf);\n    req.end();\n  });\n}\n\nfunction looksLikeJson(headers, buf) {\n  const ct = String((headers && headers['content-type']) || '').toLowerCase();\n  if (ct.includes('application/json')) return true;\n  const b0 = (buf && buf.slice && buf.slice(0,1).toString('utf8')) || '';\n  return b0 === '{' || b0 === '[';\n}\n\nfunction extractYandexJsonError(buf) {\n  try {\n    const obj = JSON.parse(buf.toString('utf8'));\n    if (obj && obj.ok === false) return obj.description || obj.code || 'getFile failed';\n  } catch {}\n  return null;\n}\n\nasync function yandexGetFileBuffer(fid) {\n  const token = String($env.YANDEX_BOT_TOKEN_CHITALKA || '').trim();\n  if (!token) throw new Error('YANDEX_BOT_TOKEN_CHITALKA is not set');\n  if (!fid) throw new Error('file_id is empty');\n\n  const body = Buffer.from(JSON.stringify({ file_id: fid }), 'utf8');\n\n  const r1 = await httpRequestBuffer(\n    {\n      method: 'POST',\n      hostname: 'botapi.messenger.yandex.net',\n      path: '/bot/v1/messages/getFile/',\n      headers: {\n        'Authorization': `OAuth ${token}`,\n        'Content-Type': 'application/json',\n        'Content-Length': String(body.length),\n      },\n    },\n    body\n  );\n\n  if (looksLikeJson(r1.headers, r1.buf)) {\n    const err = extractYandexJsonError(r1.buf);\n    if (err) throw new Error(err);\n  }\n  if (r1.statusCode >= 200 && r1.statusCode < 300) return r1.buf;\n\n  const p = `/bot/v1/messages/getFile/?file_id=${encodeURIComponent(fid)}`;\n  const r2 = await httpRequestBuffer(\n    { method: 'GET', hostname: 'botapi.messenger.yandex.net', path: p, headers: { 'Authorization': `OAuth ${token}` } },\n    null\n  );\n\n  if (looksLikeJson(r2.headers, r2.buf)) {\n    const err = extractYandexJsonError(r2.buf);\n    if (err) throw new Error(err);\n  }\n  if (r2.statusCode >= 200 && r2.statusCode < 300) return r2.buf;\n\n  throw new Error(`getFile failed: POST=${r1.statusCode} | GET=${r2.statusCode}`);\n}\n\nfunction stripCodeFences(t) {\n  let x = String(t || '').trim();\n  x = x.replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n  return x;\n}\n\nfunction tryParseJson(x) {\n  try { return JSON.parse(x); } catch { return null; }\n}\n\nfunction looksLikeTableHint(hint) {\n  const h = String(hint || '');\n  if ((h.match(/\\t/g) || []).length >= 6) return true;\n  const lines = h.split('\\n').map(v => v.trim()).filter(Boolean);\n  let score = 0;\n  for (const ln of lines.slice(0, 40)) {\n    const nums = (ln.match(/\\b\\d+\\b/g) || []).length;\n    if (nums >= 6) score++;\n  }\n  if (score >= 2) return true;\n  // common RU headers\n  if (/(№|наименован|кол-во|цена|стоим|итого|руб)/i.test(h)) return true;\n  return false;\n}\n\nasync function vlmBlocksFromImage(imageB64, ocrHint, preferTable) {\n  const schema =\n`OUTPUT MUST BE VALID JSON ONLY. NO MARKDOWN, NO TEXT OUTSIDE JSON.\n\nReturn one of:\nA) {\"type\":\"table\",\"cols\":N,\"header_rows\":H,\"rows\":[[cellOrNull,...],...]}\nB) {\"type\":\"blocks\",\"blocks\":[block,...]}\n\nblock:\n- {\"type\":\"paragraph\",\"text\":\"...\"}  // preserve line breaks inside text\n- {\"type\":\"table\",\"cols\":N,\"header_rows\":H,\"rows\":[[cellOrNull,...],...]}\n\ncellOrNull:\n- null  // cell is covered by a previous cell with colspan/rowspan\n- {\"text\":\"\", \"rowspan\":1, \"colspan\":1, \"align\":\"left|center|right\", \"valign\":\"top|middle|bottom\", \"bold\":false}\n\nRULES (CRITICAL):\n- Preserve EMPTY CELLS: represent them as {\"text\":\"\",\"rowspan\":1,\"colspan\":1,...}\n- Preserve MERGED CELLS: first cell has colspan/rowspan; covered positions must be null.\n- Preserve alignment: numbers usually right, quantities center, text left.\n- Do NOT invent content. If unreadable -> \"\".\n- Do NOT output page numbers or page markers.\n- Use TAB inside cell text only if it is part of content (rare).\n- For underlined fragments: wrap with __double_underscores__.\n- For stress accents in RU: use combining acute U+0301 after vowel if visible.\n`;\n\n  const modeHint = preferTable\n    ? `The image is VERY LIKELY a TABLE. Prefer output type \"table\" (or blocks with a table).`\n    : `The image may be a letter or a mixed page. Prefer \"blocks\" and include tables only if clearly present.`;\n\n  const prompt =\n`ROLE: DOCUMENT LAYOUT RECONSTRUCTOR (NOT A CHATBOT)\n\n${modeHint}\n\n${schema}\n\nOCR_HINT (may be wrong, image is authoritative):\n${(ocrHint || '').slice(0, 6000)}\n`;\n\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${OLLAMA_URL}/api/chat`,\n    json: true,\n    timeout: TIMEOUT_MS,\n    body: {\n      model: VLM_MODEL,\n      stream: false,\n      options: { temperature: 0, top_p: 1, top_k: 1 },\n      messages: [{ role: 'user', content: prompt, images: [imageB64] }],\n    }\n  });\n\n  const raw = stripCodeFences(resp?.message?.content || '');\n  return { raw, parsed: tryParseJson(raw) };\n}\n\n// ---- MAIN ----\nconst fid = s(base.file_id).trim();\nconst fname = s(base.file_name || 'image.png').trim() || 'image.png';\nconst ocrHint = s(base.ocr_text || base.text || '').trim();\n\nif (!fid) {\n  // no file -> fallback\n  return [{\n    json: { ...base, vlm_text: ocrHint, vlm_blocks: null, vlm_debug: { model: VLM_MODEL, note: 'no file_id' } }\n  }];\n}\n\nlet imgBuf;\ntry {\n  imgBuf = await yandexGetFileBuffer(fid);\n} catch (e) {\n  return [{\n    json: { ...base, vlm_text: ocrHint, vlm_blocks: null, vlm_debug: { model: VLM_MODEL, note: 'download failed', error: String(e?.message || e) } }\n  }];\n}\n\nconst imgB64 = Buffer.from(imgBuf).toString('base64');\nconst preferTable = looksLikeTableHint(ocrHint);\n\nconst { raw, parsed } = await vlmBlocksFromImage.call(this, imgB64, ocrHint, preferTable);\n\nreturn [{\n  json: {\n    ...base,\n    // Build Output will prefer blocks; if blocks invalid -> fallback to vlm_text\n    vlm_blocks: parsed,\n    vlm_text: raw, // keep raw JSON too (debug/fallback)\n    vlm_debug: { model: VLM_MODEL, preferTable, file_name: fname }\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          80
        ],
        "id": "45532aff-cb50-48fb-8f85-3e829e512a64",
        "name": "VLM OCR Normalize"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// VLM PDF Normalize — FULL REPLACE v5.0 (JSON blocks for layout, 30min timeout)\n// Cleanup token always.\n\nconst TIMEOUT_MS = 1800000;\nconst SIDECAR = 'http://host.docker.internal:8097';\nconst OLLAMA_URL = String($env.OLLAMA_URL || 'http://host.docker.internal:11434').replace(/\\/$/, '');\nconst VLM_MODEL = 'qwen2.5vl:72b-q8_0';\n\nconst base = $input.item.json || {};\nfunction s(x){ return x == null ? '' : String(x); }\n\nfunction normalizeText(t) {\n  let x = String(t || '').replace(/\\r\\n/g, '\\n');\n  x = x.replace(/^\\s*---\\s*PAGE\\s+\\d+\\s*---\\s*$/gmi, '');\n  x = x.replace(/\\n{4,}/g, '\\n\\n\\n');\n  return x.trim();\n}\n\nfunction stripCodeFences(t) {\n  let x = String(t || '').trim();\n  x = x.replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n  return x;\n}\nfunction tryParseJson(x) {\n  try { return JSON.parse(x); } catch { return null; }\n}\n\nfunction statusFromErr(e) {\n  const st = e?.response?.status ?? e?.statusCode ?? null;\n  if (st != null) return String(st);\n  const m = String(e?.message || '').match(/status code\\s*(\\d+)/i);\n  return m ? m[1] : '';\n}\nfunction errDataToString(e) {\n  try {\n    const d = e?.response?.data;\n    if (d == null) return '';\n    if (typeof d === 'string') return d.slice(0, 2000);\n    return JSON.stringify(d).slice(0, 2000);\n  } catch { return ''; }\n}\n\nasync function safeHttp(req) {\n  try {\n    const data = await this.helpers.httpRequest(req);\n    return { ok: true, data };\n  } catch (e) {\n    const st = statusFromErr(e);\n    const body = errDataToString(e) || '(no response body)';\n    return { ok: false, err: `http failed status=${st} ${String(e?.message || e)}`, data: body, status: st };\n  }\n}\n\nasync function cleanupToken(token) {\n  await safeHttp.call(this, {\n    method: 'POST',\n    url: `${SIDECAR}/pdf/cleanup`,\n    json: true,\n    timeout: TIMEOUT_MS,\n    body: { token },\n  });\n}\n\nfunction sleep(ms){ return new Promise(r => setTimeout(r, ms)); }\n\nasync function getPageB64(token, page) {\n  const r = await safeHttp.call(this, {\n    method: 'GET',\n    url: `${SIDECAR}/pdf/page_b64?token=${encodeURIComponent(token)}&page=${page}`,\n    json: true,\n    timeout: TIMEOUT_MS,\n  });\n  if (!r.ok) throw new Error(`page_b64_http_failed ${r.err} body=${String(r.data).slice(0, 500)}`);\n  if (!r.data?.ok) throw new Error(`page_b64_bad ${JSON.stringify(r.data).slice(0, 800)}`);\n  return String(r.data.b64 || '');\n}\n\nfunction looksLikeTableHint(hint) {\n  const h = String(hint || '');\n  if ((h.match(/\\t/g) || []).length >= 6) return true;\n  const lines = h.split('\\n').map(v => v.trim()).filter(Boolean);\n  let score = 0;\n  for (const ln of lines.slice(0, 40)) {\n    const nums = (ln.match(/\\b\\d+\\b/g) || []).length;\n    if (nums >= 6) score++;\n  }\n  if (score >= 2) return true;\n  if (/(№|наименован|кол-во|цена|стоим|итого|руб)/i.test(h)) return true;\n  return false;\n}\n\nasync function vlmBlocksFromImage(imageB64, ocrHint, preferTable) {\n  const schema =\n`OUTPUT MUST BE VALID JSON ONLY. NO MARKDOWN, NO TEXT OUTSIDE JSON.\n\nReturn one of:\nA) {\"type\":\"table\",\"cols\":N,\"header_rows\":H,\"rows\":[[cellOrNull,...],...]}\nB) {\"type\":\"blocks\",\"blocks\":[block,...]}\n\nblock:\n- {\"type\":\"paragraph\",\"text\":\"...\",\"align\":\"left|center|right|justify\"}  // keep real alignment\n- {\"type\":\"table\",\"cols\":N,\"header_rows\":H,\"rows\":[[cellOrNull,...],...]}\n- {\"type\":\"page_break\"}\n\ncellOrNull:\n- null  // covered by a previous cell with colspan/rowspan\n- {\"text\":\"\", \"rowspan\":1, \"colspan\":1, \"align\":\"left|center|right\", \"valign\":\"top|middle|bottom\", \"bold\":false, \"italic\":false}\n\nRULES (CRITICAL):\n- Preserve EMPTY CELLS: represent them as {\"text\":\"\",\"rowspan\":1,\"colspan\":1,...}\n- Preserve MERGED CELLS: first cell has colspan/rowspan; covered positions must be null.\n- Preserve alignment: numbers usually right, quantities center, text left.\n- Preserve paragraph alignment (left/center/right/justify).\n- Do NOT invent content. If unreadable -> \"\".\n- Do NOT output page numbers or page markers.\n- For underlined fragments: wrap with __double_underscores__.\n- For stress accents in RU: use combining acute U+0301 after vowel if visible.\n`;\n\n  const modeHint = preferTable\n    ? `The image is VERY LIKELY a TABLE. Prefer output type \"table\" (or blocks with a table).`\n    : `The image may be a letter or a mixed page. Prefer \"blocks\" and include tables only if clearly present.`;\n\n  const prompt =\n`ROLE: DOCUMENT LAYOUT RECONSTRUCTOR (NOT A CHATBOT)\n\n${modeHint}\n\n${schema}\n\nOCR_HINT (may be wrong, image is authoritative):\n${(ocrHint || '').slice(0, 6000)}\n`;\n\n  const res = await safeHttp.call(this, {\n    method: 'POST',\n    url: `${OLLAMA_URL}/api/chat`,\n    json: true,\n    timeout: TIMEOUT_MS,\n    body: {\n      model: VLM_MODEL,\n      stream: false,\n      options: { temperature: 0, top_p: 1, top_k: 1 },\n      messages: [{ role: 'user', content: prompt, images: [imageB64] }],\n    }\n  });\n\n  if (!res.ok) throw new Error(`vlm_blocks_failed ${res.err} body=${String(res.data || '').slice(0, 700)}`);\n\n  const raw = stripCodeFences(res.data?.message?.content || '');\n  return { raw, parsed: tryParseJson(raw) };\n}\n\nasync function vlmTextFromImage(imageB64) {\n  const prompt = `ROLE: DOCUMENT TRANSCRIBER (NOT A CHATBOT)\nTranscribe text from image. Preserve line breaks. Tables -> TAB separated columns.\nOutput ONLY text.`;\n\n  const res = await safeHttp.call(this, {\n    method: 'POST',\n    url: `${OLLAMA_URL}/api/chat`,\n    json: true,\n    timeout: TIMEOUT_MS,\n    body: {\n      model: VLM_MODEL,\n      stream: false,\n      options: { temperature: 0, top_p: 1, top_k: 1 },\n      messages: [{ role: 'user', content: prompt, images: [imageB64] }],\n    }\n  });\n\n  if (!res.ok) throw new Error(`vlm_text_failed ${res.err} body=${String(res.data || '').slice(0, 700)}`);\n\n  return String(res.data?.message?.content || '').trim()\n    .replace(/^```[\\w-]*\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n}\n\n// ---- MAIN ----\nconst mode = s(base.pdf_mode).trim();\n\nif (mode === 'textlayer') {\n  return [{ json: { ...base, vlm_text: normalizeText(base.ocr_text || ''), vlm_debug: { mode: 'textlayer', model: VLM_MODEL } } }];\n}\n\nconst token = s(base.pdf_token).trim();\nconst n = Number(base.pdf_page_count || 0);\n\nif (!token || !n) {\n  return [{ json: { ...base, _chitalka_no_doc: true, error: 'VLM PDF Normalize: token/page_count missing.' } }];\n}\n\nconst blocks = [];\nlet errOut = null;\n\ntry {\n  for (let page = 1; page <= n; page++) {\n    const imgB64 = await getPageB64.call(this, token, page);\n    let parsed = null;\n    try {\n      const hint = s(base.ocr_text || '');\n      const preferTable = looksLikeTableHint(hint);\n      const { parsed: p } = await vlmBlocksFromImage.call(this, imgB64, hint, preferTable);\n      parsed = p;\n    } catch (e) {\n      parsed = null;\n    }\n\n    if (parsed && parsed.type === 'table') {\n      blocks.push(parsed);\n    } else if (parsed && parsed.type === 'blocks' && Array.isArray(parsed.blocks)) {\n      blocks.push(...parsed.blocks);\n    } else {\n      const txt = await vlmTextFromImage.call(this, imgB64);\n      if (txt) blocks.push({ type: 'paragraph', text: normalizeText(txt), align: 'left' });\n    }\n\n    if (page < n) blocks.push({ type: 'page_break' });\n  }\n} catch (e) {\n  errOut = String(e?.message || e);\n} finally {\n  await cleanupToken.call(this, token);\n}\n\nif (errOut) {\n  return [{\n    json: {\n      ...base,\n      _chitalka_no_doc: true,\n      error: 'VLM PDF Normalize failed',\n      error_data: errOut.slice(0, 2000),\n      vlm_debug: { mode: 'scanned_vlm', pages: n, model: VLM_MODEL }\n    }\n  }];\n}\n\nif (!blocks.length) {\n  return [{\n    json: { ...base, _chitalka_no_doc: true, error: 'VLM PDF Normalize: empty result', vlm_debug: { mode: 'scanned_vlm', pages: n, model: VLM_MODEL } }\n  }];\n}\n\nreturn [{\n  json: {\n    ...base,\n    vlm_blocks: { type: 'blocks', blocks },\n    vlm_text: '',\n    vlm_debug: { mode: 'scanned_vlm_blocks', pages: n, model: VLM_MODEL }\n  }\n}];\n",
          "notice": ""
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          400
        ],
        "id": "0454201c-db23-46ba-9796-e163d3aa39c7",
        "name": "VLM PDF Normalize"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// PDF Text Layer — FULL REPLACE v1.2 (NO-THROW, token-safe)\n// If pdf_b64 exists -> calls sidecar /pdf/textlayer and sets pdf_textlayer_text/pdf_text_score.\n// If pdf_b64 missing -> does NOT crash, returns empty textlayer fields.\n// Timeout 30 min\n\nconst TIMEOUT_MS = 1800000;\nconst SIDECAR = 'http://host.docker.internal:8097';\n\nconst base = $input.item.json || {};\n\nfunction s(x){ return x == null ? '' : String(x); }\n\nfunction statusFromErr(e) {\n  const st = e?.response?.status ?? e?.statusCode ?? null;\n  if (st != null) return String(st);\n  const m = String(e?.message || '').match(/status code\\s*(\\d+)/i);\n  return m ? m[1] : '';\n}\nfunction errDataToString(e) {\n  try {\n    const d = e?.response?.data;\n    if (d == null) return '';\n    if (Buffer.isBuffer(d)) return d.toString('utf8').slice(0, 2000);\n    if (typeof d === 'string') return d.slice(0, 2000);\n    return JSON.stringify(d).slice(0, 2000);\n  } catch { return ''; }\n}\nasync function safeHttp(req) {\n  try {\n    const data = await this.helpers.httpRequest(req);\n    return { ok: true, data };\n  } catch (e) {\n    const st = statusFromErr(e);\n    const body = errDataToString(e) || '(no response body)';\n    return { ok: false, err: `http failed status=${st} ${String(e?.message || e)}`, data: body };\n  }\n}\n\n// If there is no pdf_b64 (token-based flow), just return empty fields\nconst pdf_b64 = s(base.pdf_b64).replace(/\\s+/g, '');\nif (!pdf_b64) {\n  return [{\n    json: {\n      ...base,\n      pdf_textlayer_text: s(base.pdf_textlayer_text || '').trim(),\n      pdf_text_score: Number(base.pdf_text_score || 0) || 0,\n      _pdf_debug: { note: 'PDF Text Layer skipped: pdf_b64 missing (token-based flow)' }\n    }\n  }];\n}\n\nconst dpi = Number(base.pdf_dpi || 300) || 300;\n\nconst res = await safeHttp.call(this, {\n  method: 'POST',\n  url: `${SIDECAR}/pdf/textlayer`,\n  json: true,\n  timeout: TIMEOUT_MS,\n  body: { pdf_b64, dpi },\n});\n\nif (!res.ok) {\n  return [{\n    json: {\n      ...base,\n      pdf_textlayer_text: '',\n      pdf_text_score: 0,\n      _pdf_debug: { note: 'PDF Text Layer failed', err: res.err, body: String(res.data).slice(0, 800) }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...base,\n    pdf_textlayer_text: s(res.data?.text || '').trim(),\n    pdf_text_score: Number(res.data?.score || 0) || 0,\n  }\n}];\n",
          "notice": ""
        },
        "id": "39fa7caf-ca8e-4c67-b39a-6cb4e85df814",
        "name": "PDF Text Layer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          384
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "371d198c-9bb4-463f-9d8a-03c499357a06",
                "leftValue": "={{ Number($json.pdf_text_score || 0) >= 300 && String($json.pdf_textlayer_text || '').trim().length >= 60 }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "rightValue": ""
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "bbbe2d31-349f-4430-a6d9-de0deb710cda",
        "name": "If PDF textlayer",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1632,
          384
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// PDF Set Mode Text — FULL REPLACE v1.1\n// Input: pdf_textlayer_text / pdf_text_score\n// Output: pdf_mode='textlayer', ocr_text set (only if text exists)\n\nconst base = $input.item.json || {};\nconst t = String(base.pdf_textlayer_text || '').trim();\nconst score = Number(base.pdf_text_score || 0);\n\nif (!t) {\n  return [{\n    json: {\n      ...base,\n      _chitalka_no_doc: true,\n      error: 'PDF Set Mode Text: textlayer text is empty',\n      pdf_text_score: score,\n      ocr_text: ''\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...base,\n    pdf_mode: 'textlayer',\n    ocr_text: t,\n    pdf_text_score: score,\n  }\n}];\n",
          "notice": ""
        },
        "id": "e330e225-ff9b-450f-85ba-23800606e685",
        "name": "PDF Set Mode Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1872,
          288
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// PDF Render Pages — FULL REPLACE v1.2 (PASS-THROUGH TOKEN MODE)\n// Input: pdf_token + pdf_page_count already present\n// Output: pdf_mode='scanned' (keeps everything)\n\nconst base = $input.item.json || {};\nconst token = String(base.pdf_token || '').trim();\nconst n = Number(base.pdf_page_count || 0);\n\nif (!token || !n) {\n  return [{\n    json: {\n      ...base,\n      _chitalka_no_doc: true,\n      error: 'PDF Render Pages: token/page_count missing (this node expects token-based input)'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...base,\n    pdf_mode: 'scanned',\n    pdf_token: token,\n    pdf_page_count: n,\n    pdf_dpi: Number(base.pdf_dpi || 300) || 300,\n    pdf_fmt: String(base.pdf_fmt || 'jpg') || 'jpg',\n  }\n}];\n",
          "notice": ""
        },
        "id": "94cd756a-483b-4f21-95a2-a5417067b4b1",
        "name": "PDF Render Pages",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1872,
          512
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract message": {
        "main": [
          [
            {
              "node": "Data message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data message": {
        "main": [
          [
            {
              "node": "Read messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read messages": {
        "main": [
          [
            {
              "node": "Parse files + classify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare files for OCR": {
        "main": [
          [
            {
              "node": "OCR Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge OCR results": {
        "main": [
          [
            {
              "node": "OCR Cleanup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file": {
        "main": [
          [
            {
              "node": "Send file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Files go OCR": {
        "main": [
          [
            {
              "node": "Prepare files for OCR",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Chitalka Extract PDF/TXT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OCR Request": {
        "main": [
          [
            {
              "node": "Merge OCR results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chitalka Extract PDF/TXT": {
        "main": [
          [
            {
              "node": "PDF Text Layer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chitalka Build Output": {
        "main": [
          [
            {
              "node": "If file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse files + classify": {
        "main": [
          [
            {
              "node": "If  files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If  files": {
        "main": [
          [
            {
              "node": "Update row(s)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Files go OCR",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OCR Cleanup": {
        "main": [
          [
            {
              "node": "VLM OCR Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VLM OCR Normalize": {
        "main": [
          [
            {
              "node": "Chitalka Build Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VLM PDF Normalize": {
        "main": [
          [
            {
              "node": "Chitalka Build Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PDF Text Layer": {
        "main": [
          [
            {
              "node": "If PDF textlayer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If PDF textlayer": {
        "main": [
          [
            {
              "node": "PDF Set Mode Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "PDF Render Pages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PDF Set Mode Text": {
        "main": [
          [
            {
              "node": "VLM PDF Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PDF Render Pages": {
        "main": [
          [
            {
              "node": "VLM PDF Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "timezone": "Europe/Moscow",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {},
    "pinData": {
      "Webhook": [
        {
          "json": {
            "headers": {
              "connection": "upgrade",
              "host": "n8n.itcost.ru",
              "x-forwarded-host": "n8n.itcost.ru",
              "x-forwarded-proto": "https",
              "x-forwarded-for": "10.10.200.1",
              "origin": "https://n8n.itcost.ru",
              "content-length": "363",
              "user-agent": "Mozilla/5.0 (compatible; YandexUserproxy; robot; +http://yandex.com/bots)",
              "accept-encoding": "gzip, x-gzip, deflate",
              "content-type": "application/json; charset=UTF-8"
            },
            "params": {},
            "query": {},
            "body": {
              "updates": [
                {
                  "from": {
                    "login": "kuzin@itcost.ru",
                    "id": "360eed3e-84b1-40cd-8af5-f9042df164ad",
                    "display_name": "Кузин Евгений",
                    "robot": false
                  },
                  "chat": {
                    "type": "private"
                  },
                  "timestamp": 1769249044,
                  "message_id": 1769249044995084,
                  "update_id": 1769249044995084,
                  "file": {
                    "id": "disk/5cee3ab0-1a28-9b3f-038b-3935cbf5787a",
                    "name": "NDA X5 08-09-2022.pdf",
                    "size": 2277292
                  }
                }
              ]
            },
            "webhookUrl": "https://n8n.itcost.ru:8443/webhook/chitalka",
            "executionMode": "production"
          },
          "pairedItem": {
            "item": 0
          }
        }
      ],
      "Chitalka Extract PDF/TXT": [
        {
          "json": {
            "chatId": "360eed3e-84b1-40cd-8af5-f9042df164ad",
            "timestamp": 1769436890243,
            "text": "Empty",
            "processed": false,
            "files": [
              {
                "kind": "file",
                "file_id": "disk/90ca0ef8-cfde-4d4b-63b2-0fffd3d6ebf7",
                "name": "15-12-2025 Письмо об оплате.pdf",
                "size": 158749
              }
            ],
            "login": "kuzin@itcost.ru",
            "id": 1016,
            "createdAt": "2026-01-26T14:14:50.246Z",
            "updatedAt": "2026-01-26T14:14:50.246Z",
            "files_raw": "[{\"kind\":\"file\",\"file_id\":\"disk/90ca0ef8-cfde-4d4b-63b2-0fffd3d6ebf7\",\"name\":\"15-12-2025 Письмо об оплате.pdf\",\"size\":158749}]",
            "hasFile": true,
            "hasImage": false,
            "hasNonImage": true,
            "hasImageOnly": false,
            "route": "nonimage",
            "route_reason": "non-image attachment present",
            "source_file_name": "15-12-2025 Письмо об оплате.pdf",
            "pdf_mode": "scanned",
            "pdf_token": "***REDACTED***",
            "pdf_page_count": 1,
            "pdf_dpi": 300,
            "pdf_fmt": "jpg"
          }
        }
      ]
    }
  },
  "customData": {},
  "workflowName": "Chitalka",
  "_exportMeta": {
    "exportedAt": "2026-01-30T11:07:12.152Z",
    "workflowName": "Chitalka",
    "workflowId": "Yk2Fx2gJxmI4POjt",
    "executionId": "4124",
    "exportDir": "/srv/yadisk/LLM Export/Executions"
  }
}